{
	"singleQuote": true,
	"bracketSpacing": false,
	"arrowParens": "avoid",
	"trailingComma": "none",
	"printWidth": 100,
	"proseWrap": "always",
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-organize-imports",
		"prettier-plugin-tailwindcss"
	],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
